@model IEnumerable<IWasThere.Models.Location>

@{
    ViewData["Title"] = "Index";
}

<h1>Stadiums</h1>

<p>
    <a asp-action="Create" class="btn btn-primary">Create New</a>
</p>
<table class="table">
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td class="date-mon2">
                @Html.DisplayFor(modelItem => item.StadiumName)
            </td>
            <td class="date-mon2">
                @Html.DisplayFor(modelItem => item.City) @Html.DisplayFor(modelItem => item.State)
            </td>

            <td>
                <a asp-action="Edit" class="btn btn-primary" asp-route-id="@item.LocationId">Edit</a> 
                <a asp-action="Details" class="btn btn-primary" asp-route-id="@item.LocationId">Details</a> 
                <a asp-action="Delete" class="btn btn-primary" asp-route-id="@item.LocationId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
