@model IWasThere.Models.Team

@{
    ViewData["Title"] = "Details";
}



<div>
    <h1 class="homeTeam">@Html.DisplayFor(model => model.TeamName) @Html.DisplayFor(model => model.Nickname)</h1>
    <hr />
    @*<dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TeamName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TeamName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Nickname)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Nickname)
        </dd>*@
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.TeamId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
