@model IEnumerable<IWasThere.Models.Team>

@{
    ViewData["Title"] = "Index";
}

<h1>Teams</h1>

<p>
    <a asp-action="Create" class="btn btn-primary">Create New</a>
</p>
<table class="table">
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td class="cityState">
                @Html.DisplayFor(modelItem => item.TeamName) @Html.DisplayFor(modelItem => item.Nickname)
            </td>
            
                
            <td>
                <a asp-action="Edit" class="btn btn-primary" asp-route-id="@item.TeamId">Edit</a> 
                <a asp-action="Details" class="btn btn-primary" asp-route-id="@item.TeamId">Details</a> 
                <a asp-action="Delete" class="btn btn-primary" asp-route-id="@item.TeamId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
