@model IEnumerable<IWasThere.Models.Game>

@{
    ViewData["Title"] = "My Games";
}

<h1>Games I've Attended</h1>

<p>
    <a asp-action="Create" class="btn btn-primary">Create New</a>
</p>


@foreach (var item in Model)

{

    <div class="gameCardColumn">
        <div class="gameCardRow">
            <div class="card">
                <div class="cityState">
                    @Html.DisplayFor(modelItem => item.GameName)
                    <br />
                    @Html.DisplayFor(modelItem => item.Date)
                    <br />
                    @Html.DisplayFor(modelItem => item.Location.StadiumName)
                    <br />
                    @Html.DisplayFor(modelItem => item.HomeTeam.TeamName) @Html.DisplayFor(modelItem => item.HomeScore)
                    <br />
                    @Html.DisplayFor(modelItem => item.AwayTeam.TeamName) @Html.DisplayFor(modelItem => item.AwayScore)

                    <div>
                        <a asp-action="Edit" class="btn btn-primary" asp-route-id="@item.GameId">Edit</a>
                        <a asp-action="Details" class="btn btn-primary" asp-route-id="@item.GameId">Details</a>
                        <a asp-action="Delete" class="btn btn-primary" asp-route-id="@item.GameId">Delete</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <br />


   
   
}
   



